<div class="py-4 px-6 mb-6">
  <h3 class="mb-3 font-rowdies text-4xl text-accent-400 font-bold">
    Welcome <%= current_user.name %>
  </h3>

  <form action="/users/profile/<%= current_user.id %>/edit" method="post" enctype="multipart/form-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Change Avatar</label>
    <input name="profile[avatar]" type="hidden" value="<%= current_user.cached_avatar_data %>" />
    <input name="profile[avatar]"type="file" class="block" />
    <input type="submit" value="Change Profile Picture" class="mt-4 py-2 px-3 bg-accent-200 rounded-md hover:bg-accent-700" />
  </form>
</div>

