<section class="fixed bottom-0 left-0 w-screen p-4 bg-dark drop-shadow-lg">
  Lorem maxime similique eum sit consequuntur ullam Eius eum magnam ipsam nihil
  itaque. Corrupti deleniti placeat placeat incidunt modi? Tempora cum nihil
  repudiandae fugit neque animi Illum incidunt aliquam alias?
</section>
