@import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common for all */
.unique-color {
  color: #ee6c4d;
}

.barlow-font {
  font-family: "Barlow", sans-serif;
}

.rowdies-font {
  font-family: 'Rowdies', cursive;
}

.left-section {
  position: fixed;
  width: 20vw;
  height: 100vh;
  background-color: #212121;
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134);
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 64px;
}

.logo .logo-name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
}

.logo .image {
  width: 15%;
  border-radius: 50%;
  margin: 5px;
}

.album-section ul li,
.playlist-section ul li {
  line-height: 29.26px;
  list-style: none;
  margin: 12px 0;
}

.album-section ul li a,
.playlist-section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  padding-left: 64px;
}

.playlist-name {
  font-size: 36px;
  margin: 20px 0;
  padding-left: 64px;
  border-top: 1px solid rgb(63, 63, 63);
  padding-top: 8px;
}

.right-section {
  width: 80vw;
  margin-left: 20vw;
  background-color: #000000;
  overflow-y: scroll;
  height: 100vh;
}

.search {
  padding: 9px 11px;
  padding-left: 28px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 0 8px 8px 0;
  color: #000000;
  background: rgba(255, 255, 255, 0.6);
}

.fas {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 5px;
    margin-right: -4px;
    color: #666666;
    margin-left: -4px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    left: 2.3%;
    top: 26.2px;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  margin-left: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 25px;
  background: #181818;
}

.sign-up {
  margin-top: 3px;
}

.button {
  padding: 9px 18px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-right: 15px;
  font-size: 17px;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  display: flex;
  overflow-x: scroll;
}

.content-heading{
  margin-top: 8%;
}

.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.song {
  margin-right: 20px;
  background-image: url(https://i.picsum.photos/id/96/300/300.jpg?hmac=El5Y-JrwVDoOqzkfDHD1AEZvyGBjFSdFei7hDzhnaEE);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.song-name {
  background-color: #a0dae2;
  color: white;
  padding: 12px 62px;
  border-radius: 0 0 8px 8px;
  margin-top: 92%;
  text-align: center;
}

.song-name p{
  font-size: 20px;
  font-weight: bold;
}

.content-newly-heading{
  margin-top: 4%;
}

.content-heading, .content-newly-heading{
  margin-left: 27px;
  margin-bottom: 2%;
  color: #ee6c4d;
}
