  <section class="section">
      <!-- Left Section -->
      <div class="left-section">
        <!-- Logo -->
        <div class="logo">
          <svg width="56" height="52" viewBox="0 0 66 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="13.6667" cy="15.5" rx="13.6667" ry="15.5" fill="#C4C4C4"/>
            <path d="M30.6711 51.1339L14.9383 26.6965C11.5109 21.3727 15.3332 14.366 21.6649 14.366H51.9333C58.138 14.366 61.9808 21.123 58.8089 26.4557L44.2732 50.8931C41.2356 56 33.8876 56.1301 30.6711 51.1339Z" stroke="#EE6C4D"/>
            <ellipse cx="50.9999" cy="39.6951" rx="13.6667" ry="15.5" fill="#C4C4C4"/>
            </svg>            
          <h1 class="logo-name unique-color rowdies-font">Branti</h1>
        </div>
        <div class="album-section">
          <ul class="barlow-font">
            <li><a href="#">albums</a></li>
            <li><a href="#">tags</a></li>
            <li><a href="#">artists</a></li>
            <li><a href="#">recently played</a></li>
            <li><a href="#">liked songs</a></li>
          </ul>
        </div>
        <div class="playlist-section">
          <h2 class="unique-color playlist-name rowdies-font">playlist</h2>
          <ul class="barlow-font">
            <li><a href="#">demo playlist #1</a></li>
            <li><a href="#">demo playlist #2</a></li>
            <li><a href="#">demo playlist #3</a></li>
            <li><a href="#">demo playlist #4</a></li>
            <li><a href="#">demo playlist #5</a></li>
            <li><a href="#">demo playlist #6</a></li>
            <li><a href="#">demo playlist #6</a></li>
            <li><a href="#">demo playlist #6</a></li>
            <li><a href="#">demo playlist #6</a></li>
            <li><a href="#">demo playlist #6</a></li>
            <li><a href="#">demo playlist #6</a></li>
            <li><a href="#">artists</a></li>
          </ul>
        </div>
      </div>
      <!-- Right Section -->
      <div class="right-section">
        <div class="top-navbar">
          <div class="search-box">
            <i class="fas fa-search" id="search-icon" title="search"></i>
            <input
              type="search"
              placeholder="Search"
              class="search barlow-font"
              id="search"
            />
          </div>
          <div class="sign-up">
            <a href="#" class="button barlow-font">Sign Up</a>
          </div>
        </div>

        <!-- Recently Played Section -->
        <h1 class="content-heading">Recently Played</h1>
        <div class="content">
          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>
<!-- 
          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div> -->

        </div>

        <!-- Newly Released Section -->
        <h1 class="content-newly-heading">Newly Realeased</h1>
        <div class="content content-margin">
          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>

          <div class="song">
            <div class="song-name">
              <p>Song Name</p>
            </div>
          </div>
        </div>

      </div>
    </section>