<div class="py-4 px-6 mb-6">
  <h3 class="mb-3 font-rowdies text-4xl text-accent-400 font-bold">
    Public Playlists
  </h3>

  <%= render "playlists", playlists: @playlists %>
</div>

<% if @playlists.present? && @playlists[0].songs.present? %>
  <%= render "components/player", song: @playlists[0].songs[0] %>
<% end %>
