<nav class="flex justify-between items-start py-4 px-6">
  <div class="search">
    <form>
      <div class="relative text-gray-600 focus-within:text-gray-400">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </button>
        </span>
        <input type="search" name="q" class="py-2 text-sm text-white bg-gray-700 rounded-md pl-10 focus:outline-none focus:bg-white focus:text-gray-900" placeholder="Search..." autocomplete="off">
      </div>
    </form>
  </div>
  <div class="profile_badge">
    <% if current_user %>
      <button 
           class="text-white rounded-full bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-4 py-2.5 text-center inline-flex items-center" 
           type="button" 
           data-dropdown-toggle="dropdown"
      >
        <%= image_tag current_user.avatar_url, size: 40, class: "mr-2 rounded-full"  if current_user.avatar.present? %>
        <%= current_user.name %>
        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
      </button>

       <div class="hidden bg-gray-700 text-base z-50 p-1 list-none divide-y divide-gray-100 rounded shadow my-2" id="dropdown">
          <ul aria-labelledby="dropdown">
            <li>
                <a href="#" class="text-sm hover:bg-gray-600 text-white block px-4 py-2">Sign out</a>
            </li>
          </ul>
       </div>
     <% else %>
       <a
           href="<%= new_user_registration_path %>"
           class="text-black rounded-lg bg-white hover:bg-gray-200 focus:ring-4 focus:ring-blue-300 text-sm px-4 py-2.5 text-center inline-flex items-center" 
           type="button" 
      >
        Sign up
      </a>
     <% end %>
  </div>
</nav>
