<%# <div class="top-navbar"> %>
<%#   <div class="search-box"> %>
<%#     <i class="fas fa-search" id="search-icon" title="search"></i> %>
<%#     <input %>
<%#       type="search" %>
<%#       placeholder="Search" %>
<%#       class="search barlow-font" %>
<%#       id="search" %>
<%#     /> %>
<%#   </div> %>
<%#   <div class="sign-up"> %>
<%#     <%1# <a href="#" class="button barlow-font">Sign Up</a> %1> %>
<%#     <% if user_signed_in? %1> %>
<%#       <p>Welcome <%= current_user.name %1></p> %>
<%#     <% end %1> %>
<%#     <% if user_signed_in? %1> %>
<%#         <%= link_to "Sign out", destroy_user_session_path, class: "button barlow-font" %1> %>
<%#     <% else %1> %>
<%#         <%= link_to "Sign in", new_user_session_path, class: "button barlow-font" %1> %>
<%#     <% end %1> %>
<%#   </div> %>
<%# </div> %>

Dolor fugiat optio nemo iste delectus in Temporibus corrupti aspernatur
recusandae ab velit Sunt porro ipsa voluptatibus qui ducimus vel Numquam veniam
quam odio est ratione Nisi impedit illo autem.
